.selected {
  --glow-color: #45a5ff;
  color: #2269ab;
  text-shadow:
    0 0 7px var(--glow-color),
    0 0 10px var(--glow-color),
    0 0 21px var(--glow-color),
    0 0 42px var(--glow-color),
    0 0 82px var(--glow-color),
    0 0 92px var(--glow-color),
    0 0 102px var(--glow-color),
    0 0 151px var(--glow-color);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Voces";
}

label {
  margin-right: 10px;
}
option {
  font-family: "serif"
}

.phoneme {
  font-size: 20px;
  font-family: "serif";
}

.phoneme:hover {
  color: var(--glow-color);
  cursor: pointer;
  outline-style: none;
  user-select: none;
  --glow-color: #45a5ff;
  text-shadow:
    0 0 7px var(--glow-color),
    0 0 10px var(--glow-color),
    0 0 21px var(--glow-color),
    0 0 42px var(--glow-color),
    0 0 82px var(--glow-color),
    0 0 92px var(--glow-color),
    0 0 102px var(--glow-color),
    0 0 151px var(--glow-color);
}

.norecording:hover {
  color: #929292 !important;
}

#selection {
  border: none;
}

.outer_container {
  position: relative;
  margin: 20px;
  width: fit-content;
  border: 1px solid black;
  display: flex;
  min-width: 220px;
  min-height: 20px;
  max-width: 75%;
}


#vowels .inner_container {
  width: 500px;
  height: 310px;
}

.inner_container {
  position: relative;
  width: fit-content;
/*  display: none; */
  overflow-x: scroll;
}
#consonants .inner_container div {
  overflow-x: scroll;
}

.inner_container #overlay {
  position: absolute;
}

.label {
  position: absolute;
  user-select: none;
  top: -10px;
  left: 15px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  font-family: "Voces";
}

#vowels {
  width: 500;
  height: 310;
}

#cf {
  position: relative;
  top: 10px;
  left: 10px;
}

#cc {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 10px;
  left: 160px;
}

#cb {
  position: absolute;
  width: 60px;
  height: 30px;
  top: 10px;
  left: 315px;
}

#ncnf {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 55px;
  left: 85px;
}

#ncnb {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 55px;
  left: 275px;
}

#cmf {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 100px;
  left: 50px;
}

#cmc {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 100px;
  left: 180px;
}

#cmb {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 100px;
  left: 315px;
}

#mf {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 145px;
  left: 72px;
}

#mc {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 145px;
  left: 210px;
}

#mb {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 145px;
  left: 315px;
}

#omf {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 190px;
  left: 95px;
}

#omc {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 190px;
  left: 200px;
}

#omb {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 190px;
  left: 315px;
}

#nof {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 235px;
  left: 110px;
}

#noc {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 235px;
  left: 235px;
}

#of {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 280px;
  left: 130px;
}

#oc {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 280px;
  left: 222px;
}

#ob {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 280px;
  left: 315px;
}

.sep {
  font-size: 5px;
  vertical-align: middle;
}

canvas {
  position: absolute;
}

#consonants .inner_container {
  padding: 10px;
  padding-top: 15px;
}

table {
  padding: 10px;
  padding-top: 60px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: center;
}

td {
  border: 1px solid #ddd;
}

.consonant:hover {
  color: var(--glow-color);
  cursor: pointer;
  outline-style: none;
  user-select: none;
  --glow-color: #45a5ff;
  text-shadow:
    0 0 7px var(--glow-color),
    0 0 10px var(--glow-color),
    0 0 21px var(--glow-color),
    0 0 42px var(--glow-color),
    0 0 82px var(--glow-color),
    0 0 92px var(--glow-color),
    0 0 102px var(--glow-color),
    0 0 151px var(--glow-color);

}

th {
  background-color: #333;
  color: white;
  border: 1px solid #777;
  font-family: "Voces";
}
